.activityWrapper{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 100%;
}

.activityDashboard{
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.textCenter{
    text-align: center;
}