.throughputDashboard {
  background-color: ghostwhite;
  display: grid;
  grid-template-rows: 7% 40% auto;
  grid-template-areas: "rangeSlider rangeSlider"
  "volumeCardsWidget valueMixChart"
  "selectedChartMap selectedChartMap";
  gap: 0.5rem;
}

.rangeSlider {
  grid-area: rangeSlider;
  display: flex;
  justify-content: center;
}

.volumeCardsWidget{
  grid-area: volumeCardsWidget;
}

.valueMixChart{
  grid-area: valueMixChart;
}

.selectedChartMap{
  grid-area: selectedChartMap;
}