.throughputDashboard {
  background-color: ghostwhite;
  display: grid;
  grid-template-columns: 44% 55%;
  grid-template-rows: 7% auto auto auto 55%;
  grid-template-areas: "rangeSlider rangeSlider"
  "throughputMetrics ."
  "throughputMetrics valueMix"
  "throughputMetrics valueMix"
  "valueMixChart valueMixChart";
  gap: 0.5rem;
}

.rangeSlider {
  grid-area: rangeSlider;
  display: flex;
  justify-content: center;
}

.throughputMetrics{
  grid-area: throughputMetrics;
}

.valueMix{
  grid-area: valueMix;
}

.valueMixChart{
  grid-area: valueMixChart;
}