.responseTimeDetailWrapper{
    display: grid;
    height: 93%;
    grid-template-areas: "leadTime . . ."
    "leadTime cycleTime implement ."
    "leadTime cycleTime implement ."
    "leadTime cycleTime effort deliver"
    "leadTime cycleTime effort deliver";
    gap: 0.5rem;
}

.leadTime{
    height: 100%;
    grid-area: leadTime;
}

.cycleTime{
    height: 100%;
    grid-area: cycleTime;
}

.implement{
    grid-area: implement;
}

.effort{
    grid-area: effort;
}

.deliver{
    height: 100%;
    grid-area: deliver;
}

/* Throughput Detail View */
.throughputDetailWrapper{
    display: flex;
    height: 93%;
    gap: 0.5rem;
}

.volume{
    height: 100%;
    grid-area: volume;
    flex-grow: 1;
}

.effortOut{
    height: 100%;
    grid-area: effortOut;
    flex-grow: 1;
}

.controls{
    display: flex;
    align-items: center;
    justify-content: center;
}
.teamDropdown{
    margin-left: 15px;
    margin-bottom: 5px;
}
.metricDropdown{
    margin-left: 15px;
    margin-bottom: 5px;
}