.responseTimeDetailWrapper {
  display: grid;
  height: 93%;
  grid-template-areas:
    "leadTime . . ."
    "leadTime cycleTime text1 text2"
    "leadTime cycleTime implement deliver"
    "leadTime cycleTime implement deliver"
    "leadTime cycleTime effort pullRequest"
    "leadTime cycleTime effort pullRequest";
  gap: 0.5rem;
}

.leadTime {
  height: 100%;
  grid-area: leadTime;
}

.cycleTime {
  height: 100%;
  grid-area: cycleTime;
}

.text1 {
  grid-area: text1;
}

.effort {
  grid-area: effort;
}

.implement {
  grid-area: implement;
}

.text2 {
  grid-area: text2;
}

.pullRequest {
  grid-area: pullRequest;
}

.deliver {
  height: 100%;
  grid-area: deliver;
}

/* Throughput Detail View */
.throughputDetailWrapper {
  display: flex;
  height: 93%;
  gap: 0.5rem;
}

.volume {
  height: 100%;
  grid-area: volume;
  flex-grow: 1;
}

.effortOut {
  height: 100%;
  grid-area: effortOut;
  flex-grow: 1;
}

.teamDropdown {
  margin-left: 15px;
  margin-bottom: 5px;
}
.metricDropdown {
  margin-left: 15px;
  margin-bottom: 5px;
}

.flowMetricXs {
  font-size: 0.75rem/* 12px */;
  line-height: 1rem/* 16px */;
  color: rgb(107 114 128 / 1);
  font-weight: 500;
}