
.infoContent{
  position: absolute;
  left: 61%;
  margin-top: -3%;
}

.showMeButton{
  cursor: pointer;
}
.workItemSave {
  margin-left: auto;
}

.shiftRight {
  margin-left: auto;
  margin-right: 90px;
}

.workItemCancel {
  margin-right: 95px;
  margin-left: 10px;
}

.workItemSourceLabel {
  margin-left: 5px;
}

.noWorkItemResources {
  left: 30%;
  margin-top: 10%;
}
