.stateTypeWrapper {
  position: relative;
}

.controlsWrapper {
  position: absolute;
  top: 36px;
  left: 16px;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.workItemSave {
  margin-left: auto;
}

.shiftRight {
  margin-left: auto;
  margin-right: 50px;
}

.workItemCancel {
  margin-right: 60px;
  margin-left: 20px;
}

.workItemSourceLabel {
  margin-left: 5px;
}

.chartWrapper {
}
