.stateTypeWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.controlsWrapper {
  position: absolute;
  top: 8px;
  left: 16px;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1px;
  margin-bottom: 10px;
}

.infoContent{
  position: absolute;
  top: 50px;
  left: 42%;
  z-index: 10;
}

.workItemSave {
  margin-left: auto;
}

.shiftRight {
  margin-left: auto;
  margin-right: 90px;
}

.workItemCancel {
  margin-right: 95px;
  margin-left: 10px;
}

.workItemSourceLabel {
  margin-left: 5px;
}

.chartWrapper {
  width: 100%;
  height: 100%;
}

.noWorkItemResources {
  left: 30%;
  margin-top: 10%;
}
