.story {
  background-image: url("../../../../../image/issueType/story.svg");
  background-repeat: no-repeat;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 20px;
}

.task {
  background-image: url("../../../../../image/issueType/task.svg");
  background-repeat: no-repeat;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 20px;
}

.bug {
  background-image: url("../../../../../image/issueType/bug.svg");
  background-repeat: no-repeat;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 20px;
}

.subtask {
  background-image: url("../../../../../image/issueType/subtask.svg");
  background-repeat: no-repeat;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 20px;
}
