.wipDashboard{
    height: 97%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5% auto 72%;
    gap: 0.25rem 0.5rem;
    grid-template-areas: ". . . . scopeSelector scopeSelector scopeSelector scopeSelector . . . ."
    "pipeline pipeline pipeline pipeline summaryWip summaryWip summaryWip summaryWip baseWip baseWip baseWip baseWip"
    "engineering engineering engineering engineering engineering engineering delivery delivery delivery delivery delivery delivery" 
}

.responseTime{
    grid-area: responseTime;
    padding: 0.25rem;
}
.pipeline{
    grid-area: pipeline;
    padding: 0.25rem;
}
.baseWip{
    grid-area: baseWip;
    padding: 0.25rem;
}
.quadSummary{
    grid-area: quadSummary;
    padding: 0.25rem;
}
.summaryWip{
    grid-area: summaryWip;
    padding: 0.25rem; 
}
.flowMetrics{
    grid-area: flowMetrics;
    padding: 0.25rem;
}

.engineering{
    grid-area: engineering;
}
.delivery{
    grid-area: delivery;  
}
.scopeSelector{
    grid-area: scopeSelector;
    align-self: flex-end;
    margin-top: 0.25rem;
}
.commits{
    grid-area: commits;
}
.latestCommitsTitle{
    grid-area: latestCommitsTitle;
    padding-left: 0.25rem;
    margin-top: 0.25rem;
}