.wipDashboard{
    height: 93%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 32.5% 4% 45%;
    gap: 0.25rem 0.5rem;
    grid-template-areas: "pipeline pipeline pipeline pipeline pipeline pipeline pipeline pipeline pipeline pipeline pipeline pipeline"
    "engineering engineering engineering engineering pipelineEffort pipelineEffort pipelineEffort pipelineEffort delivery delivery delivery delivery"
    "latestCommitsTitle latestCommitsTitle . . scopeSelector scopeSelector scopeSelector scopeSelector . . . ."
    "commits commits commits commits commits commits commits commits commits commits commits commits";
}

.responseTime{
    grid-area: responseTime;
    padding: 0.25rem;
}
.pipeline{
    grid-area: pipeline;
    padding: 0.25rem;
}
.codeReviews{
    grid-area: codeReviews;
    padding: 0.25rem;
}
.flowMetrics{
    grid-area: flowMetrics;
    padding: 0.25rem;
}

.engineering{
    grid-area: engineering;
    margin-top: 0.5rem;
}
.codeReviewDetail{
    grid-area: pipelineEffort;
    margin-top: 0.5rem;
}
.delivery{
    grid-area: delivery;
     margin-top: 0.5rem;   
}
.scopeSelector{
    grid-area: scopeSelector;
    align-self: flex-end;
    margin-top: 0.25rem;
}
.commits{
    grid-area: commits;
}
.latestCommitsTitle{
    grid-area: latestCommitsTitle;
    padding-left: 0.25rem;
    margin-top: 0.25rem;
}