.wipDashboard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 13% 35.5% 4% 1fr;
    gap: 0.25rem 0.5rem;
    grid-template-areas: "responseTimeSLA pipeline pipeline codeReviews flowMetrics flowMetrics"
    "engineering engineering pipelineEffort pipelineEffort delivery delivery"
    "latestCommitsTitle . scopeSelector scopeSelector . ."
    "commits commits commits commits commits commits"
}

.responseTimeSLA{
    grid-area: responseTimeSLA;
    padding: 0.25rem;
}
.pipeline{
    grid-area: pipeline;
    padding: 0.25rem;
}
.codeReviews{
    grid-area: codeReviews;
    padding: 0.25rem;
}
.flowMetrics{
    grid-area: flowMetrics;
    padding: 0.25rem;
}

.engineering{
    grid-area: engineering;
    margin-top: 0.5rem;
}
.pipelineEffort{
    grid-area: pipelineEffort;
    margin-top: 0.5rem;
}
.delivery{
    grid-area: delivery;
     margin-top: 0.5rem;   
}
.scopeSelector{
    grid-area: scopeSelector;
    align-self: flex-end;
    margin-top: 0.25rem;
}
.commits{
    grid-area: commits;
}
.latestCommitsTitle{
    grid-area: latestCommitsTitle;
    padding-left: 0.25rem;
    margin-top: 0.25rem;
}