.trendCardWrapper {
    --trend-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow:  var(--trend-shadow);
  border-radius: 0.5rem;
  border: 1px solid rgba(209, 213, 219, 1);
  background-color: white;
  display: grid;
  grid-template-areas:
    "metricTitle infoIcon"
    "metricValue indicator";
  padding: 1rem;
  height: 100%;
}

.metricTitle {
  color: rgba(107, 114, 128, 1);
  letter-spacing: 0.025em;
  font-size: theme("fontSize.lg");
  line-height: theme("lineHeight.7");
  grid-area: metricTitle;
}

.indicator {
  grid-area: indicator;
  align-self: flex-end;
  justify-self: flex-end;
}



.unitOfMesurement {
  font-size: 0.85rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.largeMetricValue {
  grid-area: metricValue;
  color: rgba(75, 85, 99, 1);
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  align-self: flex-end;
}

.smallMetricValue {
  grid-area: metricValue;
  color: rgba(75, 85, 99, 1);
  font-size: 1.2rem;
  line-height: 2.25rem;
  font-weight: 500;
  align-self: flex-end;
}

.infoIcon {
  grid-area: infoIcon;
  justify-self: flex-end;
}

.selectedTrendCard{
  border: 1px solid rgba(14, 165, 233, 1);
  border-left: 1px solid rgba(14, 165, 233, 1);

}