.analysisPeriodControlsWrapper {
  height: 75vh;
  background: white;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 70px 1fr;
  align-items: center;
  gap: 0.25rem;
}

.analysisSliderWrapper {
  align-self: flex-start;
  grid-column: 2 / 3;
}

.analysis-slider-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 60%;
}
.analysis-info-bar{

}
.analysis-slider-bar-edit {
  border: 1px solid rgb(0, 0, 0, 0.4);
}

.analysisPeriodTopBar{
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between;
}
.analysisPeriodsButtons {
  height: 25px;
  margin-left: auto;
}

.analysisPeriodsWrapper {

}

.analysisSave {
  margin-left: auto;
  margin-right: 10px;
}

.analysisCancel {

}

.analysisRangeSlider {
  flex-direction: column;
  justify-items: left;
  width: 100%;
}

.analysisItemWrapper{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}