.analysisPeriodControlsWrapper {
  background: white;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 50px 1fr;
  align-items: center;
  gap: 0.25rem;
}

.analysisItemsWrapper {
  align-self: flex-start;
  grid-column: 2 / 3;
}
.analysisItemWrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 16px;
  border: 1px solid rgba(0,0,0,0.1);
  border-left: 6px solid #8cc8ff;
}
.analysisPeriodTitle{
  margin-left: 40%;
}
.analysisPeriodsButtons {
  height: 25px;
  margin-left: auto;
}
.analysisTitleWrapper{
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
}

.analysisTitle{
  padding: 16px;
  font-weight: bold;
  font-size: 100;
}
.analysis-slider-bar {
  display: flex;
  align-items: center;
  flex: 0 0 40%;
  margin-left: auto;
}
.analysis-info{
  padding: 16px;
  margin-right: 16px;
  text-align: justify;
  line-height: 1.5rem;
}
.analysis-slider-bar-edit {
  border-top: 1px solid rgb(0, 0, 0, 0.4);
  border-bottom: 1px solid rgb(0, 0, 0, 0.4);
  border-right: 1px solid rgb(0, 0, 0, 0.4);
}

.analysisPeriodTopBar{
  grid-column: 2 / 3;
  display: flex;
}

.analysisSave {
  margin-left: auto;
  margin-right: 10px;
}

.analysisRangeSlider {
  flex-direction: column;
  justify-items: left;
  width: 100%;
}
