.workItemStateDetailsControlWrapper {
    display: grid;
    gap: 0.5rem;
    grid-template-areas:
    "leftControls phaseSelector teamSelector rightControls";
    margin-bottom: 5px;
    width: 95%;
    align-items: center;
    justify-content: space-evenly;
}

.leftControls {
    grid-area: leftControls;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.phaseSelector {
    grid-area: phaseSelector;
}
.rightControls {
    grid-area: rightControls;
}

.control {
    margin-right: 20px;
}

.controlLabel{
    margin-right: 10px;
}

.workStreamSelector {
    width: 175px;
}

.teamSelector{
    grid-area: teamSelectorx;
    width: 175px;
}



