.workItemStateDetailsControlWrapper {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 30% 40% 30%;
    grid-template-areas:
    "leftControls middleControls rightControls";
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.leftControls {
    grid-area: leftControls;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.middleControls {
    display: flex;
    align-items: center;
    grid-area: middleControls;
}

.rightControls {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 10%;
    grid-area: rightControls;
}

.control{
    display: flex;
    flex-direction: column;
}

.controlLabel{
    margin-right: 10px;
}

.workStreamSelector {
    width: 150px;
}

.teamSelector{
    width: 150px;
}

.workItemScopeSelector{

}
.groupView{
    margin-left: 20px;
}
.selectTeam{
    margin-left: 15px;
}