.stateDetailsDropdown{
    margin-left: auto;
    margin-right: 15%;
}

.groupingSelectorShiftRight{
    margin-left: auto;
}

.workStreamLabel{
    margin-right: 10px;
}

.workItemStateDetailsControlWrapper{
    margin-bottom: 5px;
}