.menu-item {
  vertical-align: text-top;
  margin: 10px;
  cursor: pointer;
  color: #fff;
}

.menu-item:global(.disabled) {
  vertical-align: text-top;
  margin: 10px;
  color: #979797;
  cursor: default;
}

.menu-item:global(.toggleOff) {
  vertical-align: text-top;
  margin: 10px;
  color: #979797;
  cursor: pointer;
}

.reload{
  height: 0.75em;
  width: 0.75em;
}
