.manageTeamsWrapper {
  background-color: white;
  display: grid;
  grid-template-columns: 100px 1fr 1fr 100px;
  grid-template-rows: 5% 95%;
  grid-template-areas:
    "backButton steps steps ."
    "stepContent stepContent stepContent stepContent";
  gap: 0.5rem;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.manageTeamsStepsWrapper {
  margin-top: 1rem;
  grid-area: steps;
  min-width: 30vw;
}
.updateTeamsBackAction {
  margin-top: 1rem;
  grid-area: backButton;
}
.manageTeamsStepsContent {
  margin: 0 2rem;
  grid-area: stepContent;
  height: 100%;
}

/* 
  SelectTeamMembersPage
  */

.selectTeamMembersPage {
  display: grid;
  gap: 0.2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15% 5% 70% 10%;
  height: 100%;
  grid-template-areas:
    "teamMembersSlider teamMembersSlider"
    "userMessage userMessage"
    "teamMembersTable teamMembersTable"
    "selectTeamMembersAction selectTeamMembersAction";
}

.selectTeamMembersSlider {
  justify-self: center;
  min-width: 60%;
  min-height: 6rem;
  grid-area: teamMembersSlider;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userMessage {
  justify-self: center;
  grid-area: userMessage;
  color: grey;
}

.selectTeamMembersTableWrapper {
  grid-area: teamMembersTable;
}

.rangeSliderWrapper {
  width: 90%;
}

.selectTeamMembersAction{
  grid-area: selectTeamMembersAction;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 16px;
}
.selectTeamMembersNextAction {
  margin-right: 16px;
}

.activeContributors {
  margin-left: 30px;
  padding: 8px;
  width: 200px;
  background-color: ghostwhite;
}

/* Update Teams Page */
.updateTeamsPage {
  display: grid;
  gap: 0.2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "selectTeam messageNotification"
    "updateTeamsTitle updateTeamsTitle"
    "updateTeamsTable updateTeamsTable"
    "actionButtons actionButtons"
    "updateTeamsAction updateTeamsAction";
}

.selectTeam {
  grid-area: selectTeam;
  min-height: 5rem;
  display: flex;
  align-items: center;
}

.selectTeamLabel {
  margin-right: 5px;
}

.messageNotification {
  justify-self: flex-end;
  grid-area: messageNotification;
  z-index: 2;
}

.updateTeamsActionWrapper{
  grid-area: updateTeamsAction;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 16px;
}
.updateTeamsActionWrapper::before{
  content:"Done";
  visibility: hidden;
  padding: 0 25px;
}
.updateTeamsAction {
  margin: 0 auto;
}

.updateTeamsTitle {
  margin-top: 16px;
  align-self: center;
  grid-area: updateTeamsTitle;
  color: grey;
  min-height: 1.5rem;
}

.updateTeamsTable {
  grid-area: updateTeamsTable;
  margin-bottom: 16px;
}

/* override completed steps color */
.manageTeamsStepsWrapper
  :global(.ant-steps-item):global(.ant-steps-item-finish)
  :global(.ant-steps-item-icon)
  > :global(.ant-steps-icon) {
  color: #d4d4d4;
}