.implementationCostTableWrapper {
  background-color: white;
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 10px 1fr 1fr 10px;
  grid-template-areas:
    ". . message ."
    ". slider slider ."
    ". editRecordsTitle editRecordsTitle ."
    ". tableContent tableContent .";
  gap: 0.2rem;
}

.messageNotification{
    grid-area: message;
    min-height: 2rem;
    justify-self: flex-end;
    display: flex;
    align-items: flex-end;
}

.implementationCostTable{
    grid-area: tableContent;
    margin-bottom: 20px;
}

.implementationSave{
  margin-right: 10px;
}

.implementationCostSlider{
  grid-area: slider;
  justify-self: center;
  min-width: 60%;
  min-height: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.editRecordsTitle{
  grid-area: editRecordsTitle;
  justify-self: center;
  min-height: 20px;
  margin-bottom: 10px;
}
.rangeSliderWrapper{
  width: 90%;
}