.selectConnector :global(.ant-avatar-image){
    width: 63px;
    height: 63px;
}

.selectConnector :global(.ant-card-body .ant-btn-secondary){
    margin-left: 30%;
}

.selectConnector :global(.ant-card){
    border-radius: 10px;
}

.selectConnectorCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 22px;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}