.selectConnector :global(.ant-avatar-image){
    width: 63px;
    height: 63px;
}

.selectConnector :global(.ant-card-body .ant-btn-secondary){
    margin-left: 30%;
}

.selectConnector :global(.ant-card){
    border-radius: 10px;
}

.selectConnectorCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 22px;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectRepositoryControls{
    display: grid;
    grid-template-columns: auto auto 1fr auto auto auto;
    grid-template-areas: "availableRepos refreshRepos . editConnector testConnector activeImports";
}
.availableRepos{
    grid-area: availableRepos;
}
.refreshRepos{
    grid-area: refreshRepos;
    margin-left: 0.5rem;
}
.testConnector{
    grid-area: testConnector;
    justify-self: flex-end;
    margin-right: 0.5rem;
}
.editConnector{
   grid-area: editConnector;
   justify-self: flex-end;
   margin-right: 0.5rem;
}
.activeImports{
    grid-area: activeImports;
    justify-self: flex-end;
}
.selectReposTable{
    margin-top: 1rem;
}
