.valueDashboard {
  display: grid;
  grid-template-columns: 33% 32.5% 33%;
  grid-template-rows: 6% 12% auto;
  gap: 0.5rem;
  grid-template-areas:
    "empty scopeSelector rangeSlider"
    "throughput valueMix workInProgress"
    "valueBookClosed valueMixChart valueBookWip"

}

.scopeSelector {
  grid-area: scopeSelector;
  display: flex;
  align-items: center;
  justify-content: center;
}

.valueBookClosed {
  grid-area: valueBookClosed;
  padding: 0.25rem;
}
.valueBookWip{
  grid-area: valueBookWip;
  padding: 0.25rem;
}
.valueMixChart {
  grid-area: valueMixChart;
  padding: 0.25rem;
}
.rangeSlider {
  grid-area: rangeSlider;
  min-width: 200px;
  padding: 0.25rem;
}

.throughput {
  grid-area: throughput;
  padding: 0.25rem;
}

.valueMix {
  grid-area: valueMix;
  padding: 0.25rem
}

.workInProgress {
  grid-area: workInProgress;
  padding: 0.25rem;
}

.valueBookTable {
  grid-area: valueBookTable;
  display: none;
}
