.responseTimeDashboard{
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    grid-template-rows: auto auto 50%;
    grid-template-areas: "rangeSlider rangeSlider"
    "responseTimeDetail responseTimeDetail"
    "responseTimeTrends flowMetricsScatter";
    gap: 0.5rem;
}

.rangeSlider{
    grid-area: rangeSlider;
    display: flex;
    justify-content: center;
}

.responseTimeDetail{
    grid-area: responseTimeDetail;
}

.responseTimeTrends{
    grid-area: responseTimeTrends;
}

.flowMetricsScatter{
    grid-area: flowMetricsScatter;
}