.cycleTimeLatencyDashboard {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 4% 50% 90px calc(47% - 90px); */
  gap: 0.5rem 0.5rem;
  grid-template-areas:
    "topControls topControls topControls topControls"
    "engineering engineering engineering engineering"
    "cycleTimeLatencyTable cycleTimeLatencyTable cycleTimeLatencyTable cycleTimeLatencyTable";
}

.title {
  align-self: center;
}

.filters {
  display: flex;
  align-self: flex-end;
}

.engineering {
  grid-area: engineering;
}

.delivery {
  grid-area: delivery;
}

.cycleTimeLatencyTable {
  grid-area: cycleTimeLatencyTable;
}

.ageLatency {
  grid-area: ageLatency;
  justify-content: center;
  display: flex;
}

.topControls {
  grid-area: topControls;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 2rem;
}

.cardInspectorPanel {
  visibility: hidden;
}

.resetAllButton {
  grid-area: resetAll;
  justify-self: center;
  align-self: center;
}

.resetAll{
  font-size: 12px;
  color: #333333;
  border-radius: 2px !important;
}