.cycleTimeLatencyDashboard {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 4% 50% 90px calc(47% - 90px);
  gap: 0.5rem 0.5rem;
  grid-template-areas:
    "title workItemScope workItemScope resetAll"
    "engineering engineering engineering engineering"
    "issueTypeDropdown . . ."
    "cycleTimeLatencyTable cycleTimeLatencyTable cycleTimeLatencyTable cycleTimeLatencyTable";
}

.title {
  grid-area: title;
  align-self: center;
}

.issueTypeDropdown {
  grid-area: issueTypeDropdown;
  align-self: flex-end;
  margin-left: theme("spacing.2");
  display: flex;
}

.engineering {
  grid-area: engineering;
}

.delivery {
  grid-area: delivery;
}

.cycleTimeLatencyTable {
  grid-area: cycleTimeLatencyTable;
}

.workItemScope {
  grid-area: workItemScope;
  justify-content: center;
  display: flex;
}

.cardInspectorPanel {
  visibility: hidden;
}

.resetAllButton {
  grid-area: resetAll;
  justify-self: center;
  align-self: center;
}

.resetAll{
  font-size: 12px;
  color: #333333;
  border-radius: 2px !important;
}