.tableRow {
  background-color: #ffffff;
  height: 5rem;
}

.tableStyle :global(.ant-table) :global(table) {
  border-spacing: 0 4px;
  background-color: white;
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: #758599;
}

.tableStyle :global(.ant-table) {
  margin: 5px;
}

/* row-hover color */
/* .tableStyle :global(.ant-table) :global(table) :global(tbody) :global(tr:hover) :global(td) {
    background: rgba(224, 248, 232, 1);
} */

/* row borders */
.tableStyle :global(.ant-table) :global(table) :global(tr) :global(td) {
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
}

.tableStyle :global(.ant-table) :global(table) :global(tr) :global(td:first-child) {
  border-left: 1px solid #e5e7eb;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.tableStyle :global(.ant-table) :global(table) :global(tr) :global(td:last-child) {
  border-right: 1px solid #e5e7eb;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* th borders */
/* .tableStyle :global(.ant-table) :global(table) :global(thead) :global(th) {
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
}

.tableStyle :global(.ant-table) :global(table) :global(thead) :global(th:first-child) {
  border-left: 1px solid #e5e7eb;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.tableStyle :global(.ant-table) :global(table) :global(thead) :global(th:last-child) {
  border-right: 1px solid #e5e7eb;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
} */

/* thead color */
.tableStyle :global(.ant-table) :global(table) :global(thead) :global(th) {
    background: rgb(209 213 219 / 0.5);
}