.trendingControlBarWrapper {
  display: grid;
  height: 5rem;
  grid-template-columns: 2.5fr 0.5fr 1.2fr;
  gap: 1rem;
  grid-template-areas: "daysRange frequencyRange windowRange";
}
.daysRange {
  grid-area: daysRange;
}

.frequencyRange {
  grid-area: frequencyRange;
  place-self: start center;
  display: flex;
  flex-direction: column;
}

.windowRange {
  grid-area: windowRange;
  justify-self: end;
  margin-left: 30px;
}

.daySlider {
  flex-direction: column;
  align-items: flex-start;
}

.frequencyRadioGroup {
  margin-top: 5px;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
}

.commonRadioButton{
  margin-left: 5px;
}

.smoothing{
  margin-right: 10px;
}

.measurementWindowWrapper{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5px;
}

.windowRadioGroup{
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}

.unitText{
  margin-left: 5px;
}