.trendingControlBarWrapper {
  display: grid;
  height: 5rem;
  grid-template-columns: 1.7fr 1.2fr 1fr;
  gap: 1rem;
  grid-template-areas: "daysRange frequencyRange windowRange";
}
.daysRange {
  grid-area: daysRange;
}

.frequencyRange {
  grid-area: frequencyRange;
  place-self: start center;
  display: flex;
  flex-direction: column;
}

.windowRange {
  grid-area: windowRange;
  justify-self: start;
}

.daySlider {
  flex-direction: column;
  align-items: flex-start;
}

.frequencyRadioGroup {
  margin-top: 5px;
}
