.implementationCostTableWrapper {
  height: 100%;
  background-color: white;
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-template-rows: 3% 5% 43% 49%;
  grid-template-areas:
    "daysRangeSlider scopeSelector message clearButton"
    ". . editRecordsTitle ."
    "epicEffortChart epicEffortChart epicEffortChart epicEffortChart"
    "tableContent tableContent tableContent tableContent";
}

.messageNotification {
  grid-area: message;
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.implementationCostTable {
  grid-area: tableContent;
}

.editRecordsTitle {
  grid-area: editRecordsTitle;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.epicEffortChart{
  grid-area: epicEffortChart;
  padding: 0.25rem;
}

.daysRangeSlider {
  grid-area: daysRangeSlider;
  padding: 0.25rem;
  margin-left: 1rem;
}

.scopeSelector {
  grid-area: scopeSelector;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.clearButton {
  grid-area: clearButton;
  justify-self: center;
  align-self: flex-start;
  margin-top: 0.5rem;
}
