.settingsViewWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30rem;
  margin-right: auto;
  background-color: white;
}

.settings{
  border: 1px solid rgba(0,0,0,0.1);
  padding: 1rem;
  margin-top: 1rem;
}

.subtasks {
  padding: 5px;
  display: flex;
  align-items: center;
}

.subtasksTitle{
  font-size: 1.125vw;
  line-height: 1.75vw;
  font-weight: 400;
}

.buttonElements {
  margin-left: auto;
  height: 2rem;
}
.measurementSave{
  margin-right: 10px;
}
.includeInFlowMetrics {
  padding: 5px;
}

.includeInWipInspector {
  padding: 5px;
}

.updateSettingsButton {
  margin-top: 5rem;
  width: 10rem;
}

.shiftRight {
  margin-left: auto;
}