.settingsViewWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right: auto;
  background-color: white;
}

.settings{
  border: 1px solid rgba(0,0,0,0.1);
  padding: 1rem;
  margin-top: 1rem;
  width: 85%;
}

.subtasks {
  padding: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  width: 100%;
}

.subtasksTitle{
  font-size: 1.125vw;
  line-height: 1.75vw;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.buttonElements {
  margin-left: auto;
  height: 2rem;
}
.measurementSave{
  margin-right: 10px;
}
.includeInFlowMetrics {
  padding: 5px;
}

.includeInWipInspector {
  padding: 5px;
}

.updateSettingsButton {
  margin-top: 5rem;
  width: 10rem;
}

.shiftRight {
  margin-left: auto;
}

.settingInfoItems{
  display: grid;
}

.settingsInfoTitle{
  text-align: center;
  font-size: 1vw;
  line-height: 1.5vw;
  font-weight: 400;
  max-width: 450px;
}

.infoDrawer{
  margin-left: 0.2rem;
  margin-top: -0.4rem;
}
.itemWrapper{
  text-align: center;
  margin-bottom: 2.5rem;
}

.title{
  font-weight: 500;
  font-size: 1vw;
  line-height: 1.5vw;
}

.setting-info{
  padding: 16px;
  margin-left: 16px;
  text-align: justify;
  line-height: 1.5rem;
  border-left: 6px solid #8cc8ff;
  background-color: rgba(25,118,210,.05);
  font-size: 1vw;
  line-height: 1.5vw;
  text-align: center;
  height: 100%;
}