.dashboard-wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
}

.dashboard-item {
  position: relative;
  height: 100%;
  padding: 5%;
  background: GhostWhite;
  border: 2px solid SlateGrey;
}

.dashboard-item-menu {
  position: absolute;
  top: 1%;
  right: 1%;
  cursor: pointer;
  font-size: 1.5rem;
  opacity: 0;
  transition: .3s ease-in-out;
}

.dashboard-item:hover .dashboard-item-menu {
  opacity: 1;
}
