.select-connector-available {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    ". availableConnectors newConnectorButton"
    "selectConnectorsTable selectConnectorsTable selectConnectorsTable";
}

.select-connector-not-available {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    ". noAvailableConnectors ."
    ". newConnectorButtonNot .";
}

.available-connectors {
  grid-area: availableConnectors;
  justify-self: center;
}

.select-connectors-table {
  grid-area: selectConnectorsTable;
}

.no-available-connectors {
  grid-area: noAvailableConnectors;
}

.new-connector-button {
  grid-area: newConnectorButton;
  justify-self: flex-end;
}

.new-connector-button-not-available {
  grid-area: newConnectorButtonNot;
}
