.flowDashboard{
    height: 89%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.3fr;
    grid-template-rows: minmax(100px, auto) 35% 47%;
    gap: 0.5rem;
    grid-template-areas: "throughput throughput throughput throughput pipeline pipeline pipeline pipeline leadAndCycleTime leadAndCycleTime leadAndCycleTime traceability"
    "volumeTrends volumeTrends volumeTrends volumeTrends pipelineFunnel pipelineFunnel pipelineFunnel pipelineFunnel responseTimeTrends responseTimeTrends responseTimeTrends responseTimeTrends"
    "phaseDetail phaseDetail phaseDetail phaseDetail phaseDetail phaseDetail phaseDetail phaseDetail phaseDetail phaseDetail phaseDetail phaseDetail";
}

.throughput{
    grid-area: throughput;
    padding: 0.25rem;
}
.pipeline{
    grid-area: pipeline;
    padding: 0.25rem;
}
.leadAndCycleTime{
    grid-area: leadAndCycleTime;
    padding: 0.25rem;
}
.traceability{
    grid-area: traceability;
    padding: 0.25rem;
}
.volumeTrends{
    grid-area: volumeTrends;
    padding-left: 0.25rem;
    align-self: flex-end;
}

.pipelineFunnel{
    grid-area: pipelineFunnel;
    padding: 0.25rem;
}
.responseTimeTrends{
    grid-area: responseTimeTrends;
    padding: 0.25rem;
}
.phaseDetail{
    grid-area: phaseDetail;
    padding: 0.25rem;
}