.mergeContributorsWrapper {
  background-color: white;
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 20px 1fr 1fr 20px;
  grid-template-areas:
    ". steps steps ."
    ". stepContent stepContent ."
    ". stepsNextAction stepsPrevAction .";
  gap: 0.5rem;
}

.mergeContributorsStepsWrapper {
  grid-area: steps;
}

.mergeContributorsStepsContent {
  min-height: 50vh;
  grid-area: stepContent;
}
.mergeContributorsNextAction {
  padding-bottom: 16px;
  grid-area: stepsNextAction;
}

.mergeContributorsPrevAction {
  grid-area: stepsPrevAction;
  justify-self: flex-end;
}

.mergeContributorsLandingPage {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    ". contributorsSlider ."
    "contributorsTable contributorsTable contributorsTable";
}

.mergeContributorsSlider {
  min-height: 8rem;
  grid-area: contributorsSlider;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mergeContributorsTableWrapper {
  grid-area: contributorsTable;
}

.rangeSliderWrapper {
  width: 90%;
}
/* override completed steps color */
.mergeContributorsStepsWrapper .ant-steps-item.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: green;
}

.mergeContributorsStepsWrapper .ant-steps-item.ant-steps-item-finish .ant-steps-item-icon {
  background-color: #d9f9d9;
  border-color: green;
}

.mergeContributorsStepsWrapper .ant-steps-item-process .ant-steps-item-icon {
  background-color: #1890ff;
}

