.manageContributorsWrapper {
  background-color: white;
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 20px 1fr 1fr 20px;
  grid-template-areas:
    ". steps steps ."
    ". stepContent stepContent .";
  gap: 0.5rem;
}

.manageContributorsStepsWrapper {
  grid-area: steps;
}

.manageContributorsStepsContent {
  min-height: 50vh;
  grid-area: stepContent;
}
.selectContributorsNextAction {
  padding-bottom: 16px;
  grid-area: selectContributorsNextAction;
  justify-self: flex-end;
}

.selectContributorsDoneAction {
  grid-area: selectContributorsDoneAction;
  justify-self: flex-start;
}

.contributorsButton {
  background-color: rgb(120, 36, 181);
  border-color: rgb(120, 36, 181);
  color: white;
  margin: 1px;
  min-width: 85px;
  font-weight: 500;
}

.selectContributorsLandingPage {
  display: grid;
  gap: 0.2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "contributorsSlider contributorsSlider"
    "userMessage userMessage"
    "contributorsTable contributorsTable"
    "selectContributorsNextAction selectContributorsDoneAction";
}

.selectContributorsSlider {
  justify-self: center;
  min-width: 60%;
  min-height: 6rem;
  grid-area: contributorsSlider;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userMessage {
  justify-self: center;
  grid-area: userMessage;
  color: grey;
}

.selectContributorsTableWrapper {
  grid-area: contributorsTable;
  margin-bottom: 20px;
}

.rangeSliderWrapper {
  width: 90%;
}
/* override completed steps color */
.manageContributorsStepsWrapper
  :global(.ant-steps-item):global(.ant-steps-item-finish)
  :global(.ant-steps-item-icon)
  > :global(.ant-steps-icon) {
  color: #d4d4d4;
}

.manageContributorsStepsWrapper :global(.ant-steps-item):global(.ant-steps-item-finish) :global(.ant-steps-item-icon) {
  background-color: #7824b5;
  border-color: #7824b5;
}

.manageContributorsStepsWrapper :global(.ant-steps-item-process) :global(.ant-steps-item-icon) {
  background: #7824b5;
  border: #7824b5;
}

.updateContributorLandingPage {
  margin-top: 16px;
  display: grid;
  gap: 0.2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "parentContributor excludeFromAnalysis"
    "updateContributorTitle updateContributorTitle"
    "updateContributorTable updateContributorTable"
    "actionButtons actionButtons"
    "updateContributorMergeAction updateContributorDoneAction";
}

.messageNotification {
  justify-self: flex-end;
  grid-area: excludeFromAnalysis;
  z-index: 2;
}
.updateContributorMergeAction {
  padding-bottom: 16px;
  grid-area: updateContributorMergeAction;
  justify-self: flex-end;
}
.updateContributorBackAction {
  grid-area: updateContributorMergeAction;
}
.updateContributorDoneAction {
  grid-area: updateContributorDoneAction;
  justify-self: flex-start;
}

.activeContributors {
  margin-left: 30px;
  padding: 8px;
  width: 200px;
  background-color: ghostwhite;
}

.manageContributorsAction {
  margin-right: 60px;
  background-color: #4482ff;
  border-color: #4482ff;
}

.manageContributorsAction:global(.ant-btn) {
  border-radius: 4px;
}

.manageContributorsAction:hover {
  background-color: #5896ff;
  border-color: #5896ff;
  color: #fff;
}

.accountContributorsTableWrapper {
  margin-top: 10px;
}

.parentContributor {
  grid-area: parentContributor;
  display: flex;
  padding: 16px;
}
.contributor {
  font-size: medium;
}
.inputWrapper {
  margin-left: 16px;
}
.excludeFromAnalysisWrapper {
  padding: 16px;
  grid-area: excludeFromAnalysis;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "analysis checkbox"
    "subtitle subtitle";
}

.excludeFromAnalysis {
  grid-area: analysis;
  font-size: medium;
}

.excludeFromAnalysisCheckbox {
  grid-area: checkbox;
  width: 100px;
  margin-left: 16px;
  align-self: center;
}

.excludeFromAnalysisSubtitle {
  grid-area: subtitle;
  font-size: small;
  color: grey;
}

.updateContributorTitle {
  margin-top: 16px;
  padding: 8px;
  align-self: flex-end;
  grid-area: updateContributorTitle;
  color: grey;
}

.updateContributorTable {
  grid-area: updateContributorTable;
}

.actionButtons {
  grid-area: actionButtons;
}

.selectParentContributorLandingPage {
  margin-top: 16px;
  display: grid;
  gap: 0.2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "selectParentContributorTitle selectParentContributorTitle"
    "selectParentContributorTable selectParentContributorTable"
    "parentContributorNextAction parentContributorDoneAction";
}

.parentContributorNextAction {
  padding-bottom: 16px;
  grid-area: parentContributorNextAction;
  justify-self: flex-end;
}
.parentContributorBackAction {
  grid-area: parentContributorNextAction;
}
.parentContributorDoneAction {
  grid-area: parentContributorDoneAction;
  justify-self: flex-start;
}
.selectParentContributorTitle {
  grid-area: selectParentContributorTitle;
  margin-top: 3rem;
  font-size: large;
}

.selectParentContributorTable {
  grid-area: selectParentContributorTable;
}
