.mergeContributorsWrapper {
  background-color: white;
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 20px 1fr 1fr 20px;
  grid-template-areas:
    ". steps steps ."
    ". stepContent stepContent .";
  gap: 0.5rem;
}

.mergeContributorsStepsWrapper {
  grid-area: steps;
}

.mergeContributorsStepsContent {
  min-height: 50vh;
  grid-area: stepContent;
}
.selectContributorsNextAction {
  padding-bottom: 16px;
  grid-area: selectContributorsNextAction;
  justify-self: flex-end;
}

.selectContributorsDoneAction {
  grid-area: selectContributorsDoneAction;
  justify-self: flex-start;
}

.contributorsButton {
  background-color: rgb(120, 36, 181);
  border-color: rgb(120, 36, 181);
  color: white;
  margin: 1px;
  min-width: 85px;
  font-weight: 500;
}

.selectContributorsLandingPage {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "contributorsSlider contributorsSlider"
  "userMessage userMessage"
  "contributorsTable contributorsTable"
  "selectContributorsNextAction selectContributorsDoneAction";
}

.selectContributorsSlider {
  justify-self: center;
  min-width: 60%;
  min-height: 8rem;
  grid-area: contributorsSlider;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userMessage {
  justify-self: center;
  grid-area: userMessage;
  color: grey;
}

.selectContributorsTableWrapper {
  grid-area: contributorsTable;
  margin-bottom: 20px;
}

.rangeSliderWrapper {
  width: 90%;
}
/* override completed steps color */
.mergeContributorsStepsWrapper
  :global(.ant-steps-item):global(.ant-steps-item-finish)
  :global(.ant-steps-item-icon)
  > :global(.ant-steps-icon) {
  color: #d4d4d4;
}

.mergeContributorsStepsWrapper :global(.ant-steps-item):global(.ant-steps-item-finish) :global(.ant-steps-item-icon) {
  background-color: #7824b5;
  border-color: #7824b5;
}

.mergeContributorsStepsWrapper :global(.ant-steps-item-process) :global(.ant-steps-item-icon) {
  background: #7824b5;
  border: #7824b5;
}

.mergeContributorsLandingPage {
  margin-top: 16px;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    ". message"
    "parentContributor excludeFromAnalysis"
    "mergeContributorTitle mergeContributorTitle"
    "mergeContributorTable mergeContributorTable"
    "actionButtons actionButtons"
    "mergeContributorsMergeAction mergeContributorsDoneAction";
}

.messageNotification{
  justify-self: flex-end;
  grid-area: message;
  height: 3rem;
}
.mergeContributorsMergeAction {
  padding-bottom: 16px;
  grid-area: mergeContributorsMergeAction;
  justify-self: flex-end;
}
.mergeContributorsBackAction {
  grid-area: mergeContributorsMergeAction;
}
.mergeContributorsDoneAction {
  grid-area: mergeContributorsDoneAction;
  justify-self: flex-start;
}

.activeContributors {
  margin-left: 30px;
  padding: 8px;
  width: 200px;
  background-color: ghostwhite;
}

.mergeContributorAction {
  margin-right: 30px;
}

.accountContributorsTableWrapper {
  margin-top: 10px;
}

.parentContributor {
  grid-area: parentContributor;
  display: flex;
  padding: 16px;
}
.contributor {
  font-size: large;
}
.inputWrapper {
  margin-left: 20px;
}
.excludeFromAnalysisWrapper {
  padding: 16px;
  grid-area: excludeFromAnalysis;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "analysis checkbox"
    "subtitle subtitle";
}

.excludeFromAnalysis {
  grid-area: analysis;
  font-size: large;
}

.excludeFromAnalysisCheckbox {
  grid-area: checkbox;
  width: 100px;
  align-self: center;
}

.excludeFromAnalysisSubtitle {
  grid-area: subtitle;
  font-size: small;
}

.mergeContributorTitle {
  margin-top: 16px;
  padding: 8px;
  align-self: flex-end;
  grid-area: mergeContributorTitle;
}

.mergeContributorTable {
  grid-area: mergeContributorTable;
}

.actionButtons {
  grid-area: actionButtons;
}

.selectParentContributorLandingPage {
  margin-top: 16px;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "selectParentContributorTitle selectParentContributorTitle"
    "selectParentContributorTable selectParentContributorTable"
    "parentContributorNextAction parentContributorDoneAction";
}

.parentContributorNextAction {
  padding-bottom: 16px;
  grid-area: parentContributorNextAction;
  justify-self: flex-end;
}
.parentContributorBackAction {
  grid-area: parentContributorNextAction
}
.parentContributorDoneAction {
  grid-area: parentContributorDoneAction;
  justify-self: flex-start;
}
.selectParentContributorTitle {
  grid-area: selectParentContributorTitle;
  margin-top: 3rem;
  font-size: large;
}

.selectParentContributorTable {
  grid-area: selectParentContributorTable;
}
