.ant-statistic-title {
    font-size: 1.7vh;
}

.ant-statistic-content {
    line-height: 2vh;
}

.ant-statistic-content-value {
    font-size: 2.1vh
}

.ant-statistic-content-value-int {
    font-size: 2.1vh
}

.ant-statistic-content-value-decimal {
    font-size: 1.8vh
}

.ant-statistic-content-suffix {
    font-size: 1.3vh
}

.ant-statistic-content-prefix {
    font-size: 1.8vh
}

.viz-item .ant-statistic {
    padding: 0px;
}