.ant-statistic-title {
    font-size: 1.8vh;
}

.ant-statistic-content {
    line-height: 2vh;
}

.ant-statistic-content-value {
    font-size: 2.2vh
}

.ant-statistic-content-value-int {
    font-size: 2.2vh
}

.ant-statistic-content-value-decimal {
    font-size: 1.8vh
}

.ant-statistic-content-suffix {
    font-size: 1.4vh
}

.viz-item .ant-statistic {
    padding: 10px;
}