.controlbar {
  width: 100%;
  height: 18px;
  display: flex;
  flex-direction: row;
  background: #2d3446;
  padding: 0px 0.5%;
  font-size: 18px;
}

.controlbar .menu {
  height: 100%;
  display: flex;
  align-items: center;
}

.controlbar .menu-right {
  flex-direction: row-reverse;
}

.controlbar .menu-center {
  flex-direction: row;
  justify-content: center;
}


.controlbar .menu-item {
  vertical-align: text-top;
  margin: 10px;
  cursor: pointer;
  color: #fff
}

.controlbar .menu-item.disabled {
  vertical-align: text-top;
  margin: 10px;
  color: #979797;
  cursor: default;
}

.controlbar .menu-item.toggleOff {
  vertical-align: text-top;
  margin: 10px;
  color: #979797;
  cursor: pointer;
}