.valueDashboard {
  height: 95%;
  display: grid;
  grid-template-columns: 35% 15% 15% 34%;
  grid-template-rows: auto auto 83%;
  gap: 0.5rem;
  grid-template-areas:
    " rangeSlider scopeSelector . ."
    "throughput valueMix valueMix workInProgress"
    "valueBookClosed valueBookClosed valueBookWip  valueBookWip"

}

.scopeSelector {
  grid-area: scopeSelector;
  display: flex;
  align-items: center;
  justify-content: center;
}

.valueBookClosed {
  grid-area: valueBookClosed;
  padding: 0.25rem;
}
.valueBookWip{
  grid-area: valueBookWip;
  padding: 0.25rem;
}
.valueMixChart {
  grid-area: valueMixChart;
  padding: 0.25rem;
}
.rangeSlider {
  grid-area: rangeSlider;
  min-width: 200px;
  padding: 0.25rem;
}

.throughput {
  grid-area: throughput;
  padding: 0.25rem;
}

.valueMix {
  grid-area: valueMix;
  padding: 0.25rem
}

.workInProgress {
  grid-area: workInProgress;
  padding: 0.25rem;
}

.valueBookTable {
  grid-area: valueBookTable;
  display: none;
}
